

/*positioning*/
.zero {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-size: 200%;

}
.centerText {text-align: center;}
.center {margin: auto;}
.leftText {text-align: left;}
.bMargin {margin-bottom: 30px;}

/*color*/
.blackFont {color: black;}
.blueFont {color:darkblue}
.radialGrayBack {
    background: rgb(185, 184, 184);
}
.lightBlue {background: #7ea7f3c5;}
.blueBorder {border: solid darkblue;}
td {border-top: solid 1px darkblue;}
.whiteBack {background: white;}

/*size*/
.eighty-vw {
    width: 80vw;
}
