


/*positioning*/
.zero {
    margin: 0;
    padding: 0;
    height: 100vh;
}
.centerText {text-align: center;}
.center {margin: auto;}


/*color*/
.blackFont {color: black;}
.blueFont {color:darkblue}
.backgroundRedGray {background: radial-gradient(ellipse at top, gray, transparent);
    background: radial-gradient(ellipse at bottom, red, transparent);
}
.backgroundWhite {background: #11111111;}